table.dataTable tbody tr.selected {
    color: black!important;
    background-color: #eeeeee;
}

.buttonsLayout{
	/*padding-right: 4%;*/
	margin-bottom: 8px;
	text-align:center;
	
}
.obbligatorio .ui-inputfield, 
.obbligatorio.ui-inputfield {
	background-color: lightYellow !important;
}

.ui-dialog{
     position: absolute !important;
}