.centeredMenuBar.ui-menubar {
    text-align: center;
}

.centeredMenuBar .ui-menu-list {
    display: inline-block;
}
.ui-icon{
	width: 13px !important;
 	font-size: 13px !important;
	margni-left:1px;
}
